<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dao.ArticleDao">

<!--    <select id="getArticleTitle" parameterType="String" resultType="Integer">-->
<!--        select count(id) from article where title = #{title}-->
<!--    </select>-->

    <insert id="addArticle" parameterType="com.study.bean.TempArticle" keyProperty="id">
        insert into article(title,typ) values(#{title},#{typ})
    </insert>

    <select id="getArticle" parameterType="String" resultType="com.study.bean.Article">
        select * from article where title = #{title}
    </select>
    
    <select id="loadArticleList" parameterType="String" resultType="java.util.HashMap">
        select  article.id,title,COUNT(articleid) as num FROM article,options where article.id=articleid
        <if test="title != null and title !=''">
            and  title like concat('%',#{title},'%')
        </if>
        GROUP BY articleid
        limit #{page},2
    </select>

    <select id="loadArticleList2" parameterType="String" resultType="java.util.HashMap">
        SELECT title,COUNT(DISTINCT  voterid) as num
        from article left join vote on article.id=vote.articleid
        <if test="title != null and title !=''">
            and  title like concat('%',#{title},'%')
        </if>
        GROUP BY     articleid
        ORDER BY  article.id
    </select>

    <select id="findType" parameterType="Integer" resultType="Integer">
        select typ from article where id=#{id}
    </select>

    <delete id="deleteArticle" parameterType="Integer">
        delete from article where id=#{id}
    </delete>
    
    <select id="heatTitle" resultType="java.util.HashMap">
        select articleid,title,count(DISTINCT voterid) as peoples
        from vote,article
        WHERE article.id = vote.articleid
        group BY articleid
        ORDER BY count(DISTINCT voterid) desc
        LIMIT 0,5
    </select>

</mapper>