<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dao.StudentDao">

    <select id="getStudentByNo" parameterType="java.lang.String" resultType="com.study.bean.Student">
        select * from student where username=#{username} and password=#{password}
    </select>

    <select id="getStudentList" parameterType="Integer" resultType="com.study.bean.Student">
        select * from student limit #{pages},#{rows}
    </select>

    <select id="getStudentListS" resultType="com.study.bean.Student">
        select * from student
    </select>

</mapper>